#SoulStatLogoLarge {
	position: absolute;
	left: 4%;
	top: 23%;
	width: 30%;
	height: 70%;
	z-index: 1;
	background-image: url(../images/LogoLarge.fw.png);
	background-size: contain;
	background-repeat: no-repeat;
	animation-name: mask;
	animation-duration: 50000ms; /* 3 seconds */
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1infinite;
	animation-direction: normal;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: mask;
	-moz-animation-duration: 50000ms;
	-moz-animation-timing-function: ease;
	-moz-animation-delay: 0s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	/* Safari and Chrome: */
	-webkit-animation-name: mask;
	-webkit-animation-duration: 50000ms;
	-webkit-animation-timing-function: ease;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: nomral;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: mask;
	-o-animation-duration: 50000ms;
	-o-animation-timing-function: ease;
	-o-animation-delay: 0s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: normal;
	-o-animation-play-state: running;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center center;
}
}
@keyframes mask
{
1% { transform: translateX(0%);
	  transform: translateY(0%);}
    
2% { transform: translateX(0%)
	  transform: translateY(20%);}
3% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
        -webkit-transform: rotate(-30deg);
    }
    
4% {transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
        transform: rotate(30deg);
        opacity: 1;}
		
9% { transform: translateX(0%);
	  transform: translateY(0%);
		transform-origin: left bottom;
		transform: rotate(20deg);
		opacity: 1;
	}

11% { transform: translateX(0%);
	  transform: translateY(10%);
	}
12% {  transform: translateX(0%);
	  transform: translateY(15%);
		transform-origin: left bottom;
		transform: rotate(-20deg);
		opacity: .3;
	}
13% { transform: translateX(0%);
	  transform: translateY(11%);
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}	
14% { transform: translateX(0%); }
15% { transform: translateX(-25%) rotate(-5deg); }
16% { transform: translateX(20%) rotate(3deg); }
17% { transform: translateX(-15%) rotate(-3deg); }
18% { transform: translateX(10%) rotate(2deg); }
19% { transform: translateX(-5%) rotate(-1deg); }
20% { transform: translateX(0%); }	
21% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
22% { opacity: 1; transform: translateX(0px) rotate(0deg); }
23% {
		opacity: 1;
		transform: translateX(0px) rotate(0deg);
	}
24% {
		opacity: 0;
		transform: translateX(100%) rotate(120deg);
	}
25% {
		opacity: 0;
		transform: translateY(-2000px);
		z-index: 5;
	}

26% {
		opacity: 1;
		transform: translateY(30px);
		z-index: 5;
	}
27% {
		transform: translateY(-10px);
		z-index: 5;
	}
28% {
		transform: translateY(0);
		z-index: 5;
	}	
39%, 40%, 41%, 42%, 43% { transform-origin: top center; }
	39% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	41% { transform: rotate(5deg); }	
	42% { transform: rotate(-5deg); }	
	43% { transform: rotate(0deg); }
		
44% { transform: translateX(0%);
	  transform: translateY(20%);}
    
45% {transform: translateX(0%);
	  transform: translateY(2%);}
	  
46% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
       transform: rotate(-30deg);
    }
    
52% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
       transform: rotate(30deg);
        opacity: 1;}
		
53% {transform: translateX(0%);
	  transform: translateY(0%);
		transform-origin: left bottom;
		transform: rotate(20deg);
		opacity: 1;
	}

54% { transform: translateX(0%);
	  transform: translateY(12%);
	}
55% {  transform: translateX(0%);
	  transform: translateY(15%);
		transform-origin: left bottom;
		transform: rotate(-20deg)
		opacity: .3;
	}
56% { transform: translateX(0%);
	  transform: translateY(13%);
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}	
57% { transform: translateX(0%); }
58% { transform: translateX(-25%) rotate(-5deg); }
59% { transform: translateX(20%) rotate(3deg); }
60% { transform: translateX(-15%) rotate(-3deg); }
61% { transform: translateX(10%) rotate(2deg); }
62% { transform: translateX(-5%) rotate(-1deg); }
63% { transform: translateX(0%); }	
64% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
65% { opacity: 1; transform: translateX(0px) rotate(0deg); }
66% {
		opacity: 1;
		transform: translateX(0px) rotate(0deg);
	}
67% {
		opacity: 0;
		transform: translateX(100%) rotate(120deg);
	}
68% {
		opacity: 0;
		transform: translateY(-2000px);
		z-index: 5;
	}

69% {
		opacity: 1;
		transform: translateY(30px);
		z-index: 5;
	}
70% {
		transform: translateY(-10px);
		z-index: 5;
	}
71% {
		transform: translateY(0);
		z-index: 5;
	}	
72%, 73%, 74%, 75%, 76% { transform-origin: top center; }
	72% { transform: rotate(15deg); }	
	73% { transform: rotate(-10deg); }
	74% { transform: rotate(5deg); }	
	75% { transform: rotate(-5deg); }	
	76% { transform: rotate(0deg); }		
100% {  left: 25px;
       top: 80px;
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}		
}

@-moz-keyframes mask /* Firefox */
{
1% { transform: translateX(0%);
	  transform: translateY(0%);}
    
2% { transform: translateX(0%)
	  transform: translateY(20%);}
3% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
        -webkit-transform: rotate(-30deg);
    }
    
4% {transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
        transform: rotate(30deg);
        opacity: 1;}
		
9% { transform: translateX(0%);
	  transform: translateY(0%);
		transform-origin: left bottom;
		transform: rotate(20deg);
		opacity: 1;
	}

11% { transform: translateX(0%);
	  transform: translateY(10%);
	}
12% {  transform: translateX(0%);
	  transform: translateY(15%);
		transform-origin: left bottom;
		transform: rotate(-20deg);
		opacity: .3;
	}
13% { transform: translateX(0%);
	  transform: translateY(11%);
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}	
14% { transform: translateX(0%); }
15% { transform: translateX(-25%) rotate(-5deg); }
16% { transform: translateX(20%) rotate(3deg); }
17% { transform: translateX(-15%) rotate(-3deg); }
18% { transform: translateX(10%) rotate(2deg); }
19% { transform: translateX(-5%) rotate(-1deg); }
20% { transform: translateX(0%); }	
21% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
22% { opacity: 1; transform: translateX(0px) rotate(0deg); }
23% {
		opacity: 1;
		transform: translateX(0px) rotate(0deg);
	}
24% {
		opacity: 0;
		transform: translateX(100%) rotate(120deg);
	}
25% {
		opacity: 0;
		transform: translateY(-2000px);
		z-index: 5;
	}

26% {
		opacity: 1;
		transform: translateY(30px);
		z-index: 5;
	}
27% {
		transform: translateY(-10px);
		z-index: 5;
	}
28% {
		transform: translateY(0);
		z-index: 5;
	}	
39%, 40%, 41%, 42%, 43% { transform-origin: top center; }
	39% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	41% { transform: rotate(5deg); }	
	42% { transform: rotate(-5deg); }	
	43% { transform: rotate(0deg); }
		
44% { transform: translateX(0%);
	  transform: translateY(20%);}
    
45% {transform: translateX(0%);
	  transform: translateY(2%);}
	  
46% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
       transform: rotate(-30deg);
    }
    
52% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
       transform: rotate(30deg);
        opacity: 1;}
		
53% {transform: translateX(0%);
	  transform: translateY(0%);
		transform-origin: left bottom;
		transform: rotate(20deg);
		opacity: 1;
	}

54% { transform: translateX(0%);
	  transform: translateY(12%);
	}
55% {  transform: translateX(0%);
	  transform: translateY(15%);
		transform-origin: left bottom;
		transform: rotate(-20deg)
		opacity: .3;
	}
56% { transform: translateX(0%);
	  transform: translateY(13%);
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}	
57% { transform: translateX(0%); }
58% { transform: translateX(-25%) rotate(-5deg); }
59% { transform: translateX(20%) rotate(3deg); }
60% { transform: translateX(-15%) rotate(-3deg); }
61% { transform: translateX(10%) rotate(2deg); }
62% { transform: translateX(-5%) rotate(-1deg); }
63% { transform: translateX(0%); }	
64% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
65% { opacity: 1; transform: translateX(0px) rotate(0deg); }
66% {
		opacity: 1;
		transform: translateX(0px) rotate(0deg);
	}
67% {
		opacity: 0;
		transform: translateX(100%) rotate(120deg);
	}
68% {
		opacity: 0;
		transform: translateY(-2000px);
		z-index: 5;
	}

69% {
		opacity: 1;
		transform: translateY(30px);
		z-index: 5;
	}
70% {
		transform: translateY(-10px);
		z-index: 5;
	}
71% {
		transform: translateY(0);
		z-index: 5;
	}	
72%, 73%, 74%, 75%, 76% { transform-origin: top center; }
	72% { transform: rotate(15deg); }	
	73% { transform: rotate(-10deg); }
	74% { transform: rotate(5deg); }	
	75% { transform: rotate(-5deg); }	
	76% { transform: rotate(0deg); }		
100% {  left: 25px;
       top: 80px;
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}		
}
@-webkit-keyframes mask /* Safari and Chrome */
{
1% { transform: translateX(0%);
	  transform: translateY(0%);}
    
2% { transform: translateX(0%)
	  transform: translateY(20%);}
3% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
        -webkit-transform: rotate(-30deg);
    }
    
4% {transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
        transform: rotate(30deg);
        opacity: 1;}
		
9% { transform: translateX(0%);
	  transform: translateY(0%);
		transform-origin: left bottom;
		transform: rotate(20deg);
		opacity: 1;
	}

11% { transform: translateX(0%);
	  transform: translateY(10%);
	}
12% {  transform: translateX(0%);
	  transform: translateY(15%);
		transform-origin: left bottom;
		transform: rotate(-20deg);
		opacity: .3;
	}
13% { transform: translateX(0%);
	  transform: translateY(11%);
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}	
14% { transform: translateX(0%); }
15% { transform: translateX(-25%) rotate(-5deg); }
16% { transform: translateX(20%) rotate(3deg); }
17% { transform: translateX(-15%) rotate(-3deg); }
18% { transform: translateX(10%) rotate(2deg); }
19% { transform: translateX(-5%) rotate(-1deg); }
20% { transform: translateX(0%); }	
21% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
22% { opacity: 1; transform: translateX(0px) rotate(0deg); }
23% {
		opacity: 1;
		transform: translateX(0px) rotate(0deg);
	}
24% {
		opacity: 0;
		transform: translateX(100%) rotate(120deg);
	}
25% {
		opacity: 0;
		transform: translateY(-2000px);
		z-index: 5;
	}

26% {
		opacity: 1;
		transform: translateY(30px);
		z-index: 5;
	}
27% {
		transform: translateY(-10px);
		z-index: 5;
	}
28% {
		transform: translateY(0);
		z-index: 5;
	}	
39%, 40%, 41%, 42%, 43% { transform-origin: top center; }
	39% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	41% { transform: rotate(5deg); }	
	42% { transform: rotate(-5deg); }	
	43% { transform: rotate(0deg); }
		
44% { transform: translateX(0%);
	  transform: translateY(20%);}
    
45% {transform: translateX(0%);
	  transform: translateY(2%);}
	  
46% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
       transform: rotate(-30deg);
    }
    
52% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
       transform: rotate(30deg);
        opacity: 1;}
		
53% {transform: translateX(0%);
	  transform: translateY(0%);
		transform-origin: left bottom;
		transform: rotate(20deg);
		opacity: 1;
	}

54% { transform: translateX(0%);
	  transform: translateY(12%);
	}
55% {  transform: translateX(0%);
	  transform: translateY(15%);
		transform-origin: left bottom;
		transform: rotate(-20deg)
		opacity: .3;
	}
56% { transform: translateX(0%);
	  transform: translateY(13%);
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}	
57% { transform: translateX(0%); }
58% { transform: translateX(-25%) rotate(-5deg); }
59% { transform: translateX(20%) rotate(3deg); }
60% { transform: translateX(-15%) rotate(-3deg); }
61% { transform: translateX(10%) rotate(2deg); }
62% { transform: translateX(-5%) rotate(-1deg); }
63% { transform: translateX(0%); }	
64% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
65% { opacity: 1; transform: translateX(0px) rotate(0deg); }
66% {
		opacity: 1;
		transform: translateX(0px) rotate(0deg);
	}
67% {
		opacity: 0;
		transform: translateX(100%) rotate(120deg);
	}
68% {
		opacity: 0;
		transform: translateY(-2000px);
		z-index: 5;
	}

69% {
		opacity: 1;
		transform: translateY(30px);
		z-index: 5;
	}
70% {
		transform: translateY(-10px);
		z-index: 5;
	}
71% {
		transform: translateY(0);
		z-index: 5;
	}	
72%, 73%, 74%, 75%, 76% { transform-origin: top center; }
	72% { transform: rotate(15deg); }	
	73% { transform: rotate(-10deg); }
	74% { transform: rotate(5deg); }	
	75% { transform: rotate(-5deg); }	
	76% { transform: rotate(0deg); }		
100% {  left: 25px;
       top: 80px;
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}		
}
@-o-keyframes mask /* Opera */
{
1% { transform: translateX(0%);
	  transform: translateY(0%);}
    
2% { transform: translateX(0%)
	  transform: translateY(20%);}
3% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
        -webkit-transform: rotate(-30deg);
    }
    
4% {transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
        transform: rotate(30deg);
        opacity: 1;}
		
9% { transform: translateX(0%);
	  transform: translateY(0%);
		transform-origin: left bottom;
		transform: rotate(20deg);
		opacity: 1;
	}

11% { transform: translateX(0%);
	  transform: translateY(10%);
	}
12% {  transform: translateX(0%);
	  transform: translateY(15%);
		transform-origin: left bottom;
		transform: rotate(-20deg);
		opacity: .3;
	}
13% { transform: translateX(0%);
	  transform: translateY(11%);
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}	
14% { transform: translateX(0%); }
15% { transform: translateX(-25%) rotate(-5deg); }
16% { transform: translateX(20%) rotate(3deg); }
17% { transform: translateX(-15%) rotate(-3deg); }
18% { transform: translateX(10%) rotate(2deg); }
19% { transform: translateX(-5%) rotate(-1deg); }
20% { transform: translateX(0%); }	
21% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
22% { opacity: 1; transform: translateX(0px) rotate(0deg); }
23% {
		opacity: 1;
		transform: translateX(0px) rotate(0deg);
	}
24% {
		opacity: 0;
		transform: translateX(100%) rotate(120deg);
	}
25% {
		opacity: 0;
		transform: translateY(-2000px);
		z-index: 5;
	}

26% {
		opacity: 1;
		transform: translateY(30px);
		z-index: 5;
	}
27% {
		transform: translateY(-10px);
		z-index: 5;
	}
28% {
		transform: translateY(0);
		z-index: 5;
	}	
39%, 40%, 41%, 42%, 43% { transform-origin: top center; }
	39% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	41% { transform: rotate(5deg); }	
	42% { transform: rotate(-5deg); }	
	43% { transform: rotate(0deg); }
		
44% { transform: translateX(0%);
	  transform: translateY(20%);}
    
45% {transform: translateX(0%);
	  transform: translateY(2%);}
	  
46% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
       transform: rotate(-30deg);
    }
    
52% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
       transform: rotate(30deg);
        opacity: 1;}
		
53% {transform: translateX(0%);
	  transform: translateY(0%);
		transform-origin: left bottom;
		transform: rotate(20deg);
		opacity: 1;
	}

54% { transform: translateX(0%);
	  transform: translateY(12%);
	}
55% {  transform: translateX(0%);
	  transform: translateY(15%);
		transform-origin: left bottom;
		transform: rotate(-20deg)
		opacity: .3;
	}
56% { transform: translateX(0%);
	  transform: translateY(13%);
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}	
57% { transform: translateX(0%); }
58% { transform: translateX(-25%) rotate(-5deg); }
59% { transform: translateX(20%) rotate(3deg); }
60% { transform: translateX(-15%) rotate(-3deg); }
61% { transform: translateX(10%) rotate(2deg); }
62% { transform: translateX(-5%) rotate(-1deg); }
63% { transform: translateX(0%); }	
64% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
65% { opacity: 1; transform: translateX(0px) rotate(0deg); }
66% {
		opacity: 1;
		transform: translateX(0px) rotate(0deg);
	}
67% {
		opacity: 0;
		transform: translateX(100%) rotate(120deg);
	}
68% {
		opacity: 0;
		transform: translateY(-2000px);
		z-index: 5;
	}

69% {
		opacity: 1;
		transform: translateY(30px);
		z-index: 5;
	}
70% {
		transform: translateY(-10px);
		z-index: 5;
	}
71% {
		transform: translateY(0);
		z-index: 5;
	}	
72%, 73%, 74%, 75%, 76% { transform-origin: top center; }
	72% { transform: rotate(15deg); }	
	73% { transform: rotate(-10deg); }
	74% { transform: rotate(5deg); }	
	75% { transform: rotate(-5deg); }	
	76% { transform: rotate(0deg); }		
100% {  left: 25px;
       top: 80px;
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}		
}
@-moz-keyframes mask /* Firefox */
{
1% { transform: translateX(0%);
	  transform: translateY(0%);}
    
2% { transform: translateX(0%)
	  transform: translateY(20%);}
3% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
        -webkit-transform: rotate(-30deg);
    }
    
4% {transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
        transform: rotate(30deg);
        opacity: 1;}
		
9% { transform: translateX(0%);
	  transform: translateY(0%);
		transform-origin: left bottom;
		transform: rotate(20deg);
		opacity: 1;
	}

11% { transform: translateX(0%);
	  transform: translateY(10%);
	}
12% {  transform: translateX(0%);
	  transform: translateY(15%);
		transform-origin: left bottom;
		transform: rotate(-20deg);
		opacity: .3;
	}
13% { transform: translateX(0%);
	  transform: translateY(11%);
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}	
14% { transform: translateX(0%); }
15% { transform: translateX(-25%) rotate(-5deg); }
16% { transform: translateX(20%) rotate(3deg); }
17% { transform: translateX(-15%) rotate(-3deg); }
18% { transform: translateX(10%) rotate(2deg); }
19% { transform: translateX(-5%) rotate(-1deg); }
20% { transform: translateX(0%); }	
21% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
22% { opacity: 1; transform: translateX(0px) rotate(0deg); }
23% {
		opacity: 1;
		transform: translateX(0px) rotate(0deg);
	}
24% {
		opacity: 0;
		transform: translateX(100%) rotate(120deg);
	}
25% {
		opacity: 0;
		transform: translateY(-2000px);
		z-index: 5;
	}

26% {
		opacity: 1;
		transform: translateY(30px);
		z-index: 5;
	}
27% {
		transform: translateY(-10px);
		z-index: 5;
	}
28% {
		transform: translateY(0);
		z-index: 5;
	}	
39%, 40%, 41%, 42%, 43% { transform-origin: top center; }
	39% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	41% { transform: rotate(5deg); }	
	42% { transform: rotate(-5deg); }	
	43% { transform: rotate(0deg); }
		
44% { transform: translateX(0%);
	  transform: translateY(20%);}
    
45% {transform: translateX(0%);
	  transform: translateY(2%);}
	  
46% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
       transform: rotate(-30deg);
    }
    
52% { transform: translateX(0%);
	  transform: translateY(0%);
	   transform-origin: left bottom;
       transform: rotate(30deg);
        opacity: 1;}
		
53% {transform: translateX(0%);
	  transform: translateY(0%);
		transform-origin: left bottom;
		transform: rotate(20deg);
		opacity: 1;
	}

54% { transform: translateX(0%);
	  transform: translateY(12%);
	}
55% {  transform: translateX(0%);
	  transform: translateY(15%);
		transform-origin: left bottom;
		transform: rotate(-20deg)
		opacity: .3;
	}
56% { transform: translateX(0%);
	  transform: translateY(13%);
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}	
57% { transform: translateX(0%); }
58% { transform: translateX(-25%) rotate(-5deg); }
59% { transform: translateX(20%) rotate(3deg); }
60% { transform: translateX(-15%) rotate(-3deg); }
61% { transform: translateX(10%) rotate(2deg); }
62% { transform: translateX(-5%) rotate(-1deg); }
63% { transform: translateX(0%); }	
64% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
65% { opacity: 1; transform: translateX(0px) rotate(0deg); }
66% {
		opacity: 1;
		transform: translateX(0px) rotate(0deg);
	}
67% {
		opacity: 0;
		transform: translateX(100%) rotate(120deg);
	}
68% {
		opacity: 0;
		transform: translateY(-2000px);
		z-index: 5;
	}

69% {
		opacity: 1;
		transform: translateY(30px);
		z-index: 5;
	}
70% {
		transform: translateY(-10px);
		z-index: 5;
	}
71% {
		transform: translateY(0);
		z-index: 5;
	}	
72%, 73%, 74%, 75%, 76% { transform-origin: top center; }
	72% { transform: rotate(15deg); }	
	73% { transform: rotate(-10deg); }
	74% { transform: rotate(5deg); }	
	75% { transform: rotate(-5deg); }	
	76% { transform: rotate(0deg); }		
100% {  left: 25px;
       top: 80px;
		transform-origin: left bottom;
		transform: rotate(-10deg);
		opacity: .3;
	}		
}