#More {
	position: absolute;
	left: 85%;
	top: 58px;
	width: 14.8%;
	height: 49px;
	z-index: 201;
	background-color: #FFFFFF;
	opacity: .7;
	box-shadow: 0px 2px 3px #000;
	color: #575757;
	font-family: "Raleway";
	padding-left: .2%;
	font-weight: 300;
	font-style: normal;
	font-size: 32px;
	line-height: 49px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 200ms ease-in-out 0s;
	-moz-transition: all 200ms ease-in-out 0s;
	-ms-transition: all 200ms ease-in-out 0s;
	-o-transition: all 200ms ease-in-out 0s;
	transition: all 200ms ease-in-out 0s;
}
#More:hover {
	opacity: .95;
	cursor: pointer;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}
#Social {
	position: absolute;
	left: 0%;
	top: 21%;
	width: 14.8%;
	height: 49px;
	z-index: 201;
	background-color: #FFFFFF;
	opacity: .7;
	box-shadow: 0px 2px 3px #000;
	color: #575757;
	font-family: "Raleway";
	padding-left: .2%;
	font-weight: 300;
	font-style: normal;
	font-size: 32px;
	line-height: 49px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 200ms ease-in-out 0s;
	-moz-transition: all 200ms ease-in-out 0s;
	-ms-transition: all 200ms ease-in-out 0s;
	-o-transition: all 200ms ease-in-out 0s;
	transition: all 200ms ease-in-out 0s;
}
#Social:hover {
	opacity: .95;
	cursor: pointer;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}
#Business {
	position: absolute;
	left: 0%;
	top: 31%;
	width: 14.8%;
	height: 49px;
	z-index: 201;
	background-color: #FFFFFF;
	opacity: .7;
	box-shadow: 0px 2px 3px #000;
	color: #575757;
	font-family: "Raleway";
	padding-left: .2%;
	font-weight: 300;
	font-style: normal;
	font-size: 32px;
	line-height: 49px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 200ms ease-in-out 0s;
	-moz-transition: all 200ms ease-in-out 0s;
	-ms-transition: all 200ms ease-in-out 0s;
	-o-transition: all 200ms ease-in-out 0s;
	transition: all 200ms ease-in-out 0s;
}
#Business:hover {
	opacity: .95;
	cursor: pointer;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}
#Stats {
	position: absolute;
	left: 0%;
	top: 41%;
	width: 14.8%;
	max-height: 49px;
	z-index: 201;
	background-color: #FFFFFF;
	opacity: .7;
	box-shadow: 0px 2px 3px #000;
	color: #575757;
	font-family: "Raleway";
	padding-left: .2%;
	font-weight: 300;
	font-style: normal;
	font-size: 32px;
	line-height: 49px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 200ms ease-in-out 0s;
	-moz-transition: all 200ms ease-in-out 0s;
	-ms-transition: all 200ms ease-in-out 0s;
	-o-transition: all 200ms ease-in-out 0s;
	transition: all 200ms ease-in-out 0s;
}
#Stats:hover {
	opacity: .95;
	cursor: pointer;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}
#Music {
	position: absolute;
	left: 0%;
	top: 10%;
	width: 14.8%;
	height: 49px;
	z-index: 201;
	background-color: #FFFFFF;
	opacity: .7;
	box-shadow: 0px 2px 3px #000;
	color: #575757;
	font-family: "Raleway";
	padding-left: .2%;
	font-weight: 300;
	font-style: normal;
	font-size: 32px;
	line-height: 49px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 200ms ease-in-out 0s;
	-moz-transition: all 200ms ease-in-out 0s;
	-ms-transition: all 200ms ease-in-out 0s;
	-o-transition: all 200ms ease-in-out 0s;
	transition: all 200ms ease-in-out 0s;
}
#Music:hover {
	opacity: .95;
	cursor: pointer;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}
