#BackgroundImageX6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;

}
#LayoutContainerX6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.containerContainerX6 {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	perspective: 800px;
}
#apDiv1X6 {
position: absolute;
left: 38%;
top: -4%;
width: 62%;
height: 93%;
z-index: 20;
background-size: cover;
	opacity: 0;
	animation-name: bgcloud2x;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
	animation-delay: 800ms;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
	/* Firefox: */
	-moz-animation-name: bgcloud2x;
	-moz-animation-duration: 500ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-delay: 800ms;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;
	/* Safari and Chrome: */
	-webkit-animation-name: bgcloud2x;
	-webkit-animation-duration: 500ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 800ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: nomral;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;
	/* Opera: */
	-o-animation-name: bgcloud2x;
	-o-animation-duration: 500ms;
	-o-animation-timing-function: ease-in-out;
	-o-animation-delay: 800ms;
	-o-animation-iteration-count: 1;
	-o-animation-direction: normal;
	-o-animation-play-state: running;
	-o-animation-fill-mode: forwards;
}
}
@keyframes bgcloud2x
{
	0%   {opacity: 0}
100% { opacity: 1; top: 0%;}
}
@-moz-keyframes bgcloud2x /* Firefox */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 0%;}
}
@-webkit-keyframes bgcloud2x /* Safari and Chrome */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 0%;}

}
@-o-keyframes bgcloud2x /* Opera */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 0%;}
}

#apDiv2X6 {
position: absolute;
left: 0%;
top: 64.5%;
width: 14%;
height: 27%;
z-index: 120;
background-image: url("../../images/logo.jpg");
background-size: contain;
background-repeat: no-repeat;
background-position-x: center;}
#apDiv3X6 {
	position: absolute;
	left: 17%;
	top: -3.5%;
	width: 20.5%;
	height: 91%;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 10;
line-height: 41px;
font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
font-size: 17px;
line-height: 42px;
	opacity: 0;
	animation-name: text1;
	animation-duration: 700ms;
	animation-timing-function: ease-in-out;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
	/* Firefox: */
	-moz-animation-name: text1;
	-moz-animation-duration: 700ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-delay: 0ms;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;
	/* Safari and Chrome: */
	-webkit-animation-name: text1;
	-webkit-animation-duration: 700ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 0ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: nomral;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;
	/* Opera: */
	-o-animation-name: text1;
	-o-animation-duration: 700ms;
	-o-animation-timing-function: ease-in-out;
	-o-animation-delay: 0ms;
	-o-animation-iteration-count: 1;
	-o-animation-direction: normal;
	-o-animation-play-state: running;
	-o-animation-fill-mode: forwards;
}
}
@keyframes text1
{
	0%   {opacity: 0}
100% { opacity: 1; top: 1.5%;}
}
@-moz-keyframes text1 /* Firefox */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 1.5%;}
}
@-webkit-keyframes text1 /* Safari and Chrome */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 1.5%;}

}
@-o-keyframes text1 /* Opera */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 1.5%;}
}

#apDiv4X6 {
position: absolute;
left: 14%;
top: 0px;
width: 86%;
height: 100%;
z-index: 2;
background-color: #FFF;
opacity: .8;
-webkit-border-top-left-radius: 1%;
-moz-border-radius-topleft: 1%;
border-top-left-radius: 1%;
-webkit-border-bottom-right-radius: 1%;
-moz-border-bottom-right-radius: 1%;
border-bottom-right-radius: 1%;
}
#apDiv5X6 {
position: absolute;
left: 0%;
top: 0%;
width: 50%;
height: 100%;
z-index: 1;
background: url(../../images/LogoParkResidences.svg);
background-size: cover;
opacity: .2;
background-position-x: center;
background-position-y: 0%;
box-shadow: 0px 40px 64px #000;
-webkit-border-top-left-radius: 112px;
-moz-border-radius-topleft: 112px;
border-top-left-radius: 88%;}
#apDiv6X6 {
position: absolute;
left: 65.75%;
width: 30.25%;
top: 0%;
height: 45.5%;
z-index: 9;
background-image: url("../../images/gym1.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position-x: center;
opacity:0;
	animation-name: bgcloud4x;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
	animation-delay: 700ms;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
	/* Firefox: */
	-moz-animation-name: bgcloud4x;
	-moz-animation-duration: 500ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-delay: 700ms;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;
	/* Safari and Chrome: */
	-webkit-animation-name: bgcloud4x;
	-webkit-animation-duration: 500ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 700ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: nomral;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;
	/* Opera: */
	-o-animation-name: bgcloud4x;
	-o-animation-duration: 500ms;
	-o-animation-timing-function: ease-in-out;
	-o-animation-delay: 700ms;
	-o-animation-iteration-count: 1;
	-o-animation-direction: normal;
	-o-animation-play-state: running;
	-o-animation-fill-mode: forwards;
}
}
@keyframes bgcloud4x
{
	0%   {opacity: 0}
100% { opacity: 1; left: 69.75%;}
}
@-moz-keyframes bgcloud4x /* Firefox */
{
	0%   {opacity: 0}
100% { opacity: 1; left: 69.75%;}
}
@-webkit-keyframes bgcloud4x /* Safari and Chrome */
{
	0%   {opacity: 0}
100% { opacity: 1; left: 69.75%;}

}
@-o-keyframes bgcloud4x /* Opera */
{
	0%   {opacity: 0}
100% { opacity: 1; left: 69.75%;}
}
#apDiv7X6 {
position: absolute;
left: 34%;
top: 46%;
width: 30.5%;
height: 46.5%;
z-index: 9;
background-image: url("../../images/Golf.jpg");
background-size: cover;
opacity:0;
	animation-name: bgcloud39x;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
	animation-delay: 900ms;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
	/* Firefox: */
	-moz-animation-name: bgcloud39x;
	-moz-animation-duration: 500ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-delay: 900ms;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;
	/* Safari and Chrome: */
	-webkit-animation-name: bgcloud39x;
	-webkit-animation-duration: 500ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 900ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: nomral;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;
	/* Opera: */
	-o-animation-name: bgcloud39x;
	-o-animation-duration: 500ms;
	-o-animation-timing-function: ease-in-out;
	-o-animation-delay: 900ms;
	-o-animation-iteration-count: 1;
	-o-animation-direction: normal;
	-o-animation-play-state: running;
	-o-animation-fill-mode: forwards;
}
}
@keyframes bgcloud39x
{
	0%   {opacity: 0}
100% { opacity: 1; left: 40%;}
}
@-moz-keyframes bgcloud39x /* Firefox */
{
	0%   {opacity: 0}
100% { opacity: 1; left: 40%;}
}
@-webkit-keyframes bgcloud39x /* Safari and Chrome */
{
	0%   {opacity: 0}
100% { opacity: 1; left: 40%;}
}
@-o-keyframes bgcloud39x /* Opera */
{
	0%   {opacity: 0}
100% { opacity: 1; left: 40%;}
}


#apDiv8X6 {
	position: absolute;
left: 70.75%;
top: 50%;
width: 29.25%;
height: 46.5%;
z-index: 9;
background: url(../../images/Candid11.jpg);
background-size: cover;
opacity:0;
	animation-name: bgcloud19x;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
	/* Firefox: */
	-moz-animation-name: bgcloud19x;
	-moz-animation-duration: 500ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-delay: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;
	/* Safari and Chrome: */
	-webkit-animation-name: bgcloud19x;
	-webkit-animation-duration: 500ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: nomral;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;
	/* Opera: */
	-o-animation-name: bgcloud19x;
	-o-animation-duration: 500ms;
	-o-animation-timing-function: ease-in-out;
	-o-animation-delay: 1s;
	-o-animation-iteration-count: 1;
	-o-animation-direction: normal;
	-o-animation-play-state: running;
	-o-animation-fill-mode: forwards;
}
}
@keyframes bgcloud19x
{
	0%   {opacity: 0}
100% { opacity: 1; top: 46%;}
}
@-moz-keyframes bgcloud19x /* Firefox */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 46%;}
}
@-webkit-keyframes bgcloud19x /* Safari and Chrome */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 46%;}

}
@-o-keyframes bgcloud19x /* Opera */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 46%;}
}
.animatedbackground1 {
	background-repeat: repeat-x;
	animation-name: cloudx;
	animation-duration: 340s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: cloudx;
	-moz-animation-duration: 340s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 0s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	/* Safari and Chrome: */
	-webkit-animation-name: cloudx;
	-webkit-animation-duration: 340s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: nomral;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: cloudx;
	-o-animation-duration: 340s;
	-o-animation-timing-function: linear;
	-o-animation-delay: 0s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: normal;
	-o-animation-play-state: running;
}
}
@keyframes cloudx
{
0%   {background-position: -11px -34px}
100% {background-position: 5000px -34px}
}

@-moz-keyframes cloudx /* Firefox */
{
0%   {background-position: -11px -34px;}
100% {background-position: 5000px -34px}
}

@-webkit-keyframes cloudx /* Safari and Chrome */
{
0%   {background-position: -11px -34px}
100% {background-position: 5000px -34px}
}

@-o-keyframes cloudx /* Opera */
{
0%   {background-position: -11px -34px;}
100% {background-position: 5000px -34px}
}

#apDiv9X6 {
position: absolute;
left: 38%;
top: 93%;
width: 62%;
height: 6.5%;
z-index: 9;
background: url(../../images/banner.fw.png);
background-size: contain;
background-repeat: no-repeat;
background-position-x: center;
opacity: 1;
}
#fpbase2 {
	height: 118px;
	z-index: 1;
	background-size: cover;
	-webkit-background-size: 100% 130%;
	-moz-background-size: 100% 130%;
	-o-background-size: 100% 130%;
	background-size: 100% 130%;
	width: 100%;
background-position: -11px -34px;
	-webkit-box-shadow: 0px 2px 2px #BDBDBD;
-moz-box-shadow::0px 2px 2px #BDBDBD;
	box-shadow: 0px 2px 2px #BDBDBD;
	border-radius: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D6D6D6;
	border-right-color: #D6D6D6;
	border-bottom-color: #D6D6D6;
	border-left-color: #D6D6D6;
}
#select3 {
	visibility: visible;
	text-align: left;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 118px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: inherit;
	background-repeat: no-repeat;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out 0s;
	-moz-transition: all 200ms ease-in-out 0s;
	-ms-transition: all 200ms ease-in-out 0s;
	-o-transition: all 200ms ease-in-out 0s;
	transition: all 200ms ease-in-out 0s;
	border-radius: 5px;

}
#select3:hover {
	opacity: .98;
	cursor: pointer;
	-moz-box-shadow: inset 0 0 44px #222222;
	-webkit-box-shadow: inset 0 0 44px #222222;
	-o-box-shadow: inner 0 0 44px #222222;
	box-shadow: inner 0 0 44px #222222;
}


.textreg1x115 {
font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #0C102E;
	font-variant: normal;
	text-transform: uppercase;
}
.textreg1x125 {
font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-size: 20px;
	color: #0C102E;
	font-variant: normal;
	text-transform: uppercase;
}

.textreg2x15 {
font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-size: 17px;
	font-weight: normal;
	color: #666;
	font-variant: normal;
	line-height: 24px;
}
.VTLobby1 {
	background-image: url(../../TrumpParkRes/Lobby_1/Lobby1.jpg);
}
.VTLobby3 {
	background-image: url(../../TrumpParkRes/Lobby_2/Lobby3.jpg);
}
.VTKitchen {
	background-image: url(../../TrumpParkRes/Kitchen/Kitchen.jpg);
}
.VTDiningRoom {
	background-image: url(../../TrumpParkRes/Dining_Room/DiningRoom.jpg);
}
.VTLivingRoom {
	background-image: url(../../TrumpParkRes/Living_Room2/LivingRoom1.jpg);
}
.VTMasterBedroom {
	background-image: url(../../TrumpParkRes/Master_Bedroom/MBedroom.jpg);
}
.VTMasterBedroom2 {
	background-image: url(../../TrumpParkRes/Master_Bedroom2/MBedroom2.jpg);
}
.VTBathroom {
	background-image: url(../../TrumpParkRes/Bathroom_1/Bathroom.jpg);
}
.VTIndoorPool {
	background-image: url(../../TrumpParkRes/Indoor_Pool/IndoorPool.jpg);
}
.VTMedia {
	background-image: url(../../TrumpParkRes/Media_1/Media.jpg);
}
.VTPool {
	background-image: url(../../TrumpParkRes/Pool_1/Pool1.jpg);
}

#apDiv10X6 {
position: absolute;
left: 69.75%;
width: 30.25%;
top: 50%;
height: 46.5%;
z-index: 9;
background: url(../../images/Bathroom.jpg);
background-size: cover;
opacity:0;
	animation-name: bgcloud1x;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
	/* Firefox: */
	-moz-animation-name: bgcloud1x;
	-moz-animation-duration: 500ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-delay: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;
	/* Safari and Chrome: */
	-webkit-animation-name: bgcloud1x;
	-webkit-animation-duration: 500ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: nomral;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;
	/* Opera: */
	-o-animation-name: bgcloud1x;
	-o-animation-duration: 500ms;
	-o-animation-timing-function: ease-in-out;
	-o-animation-delay: 1s;
	-o-animation-iteration-count: 1;
	-o-animation-direction: normal;
	-o-animation-play-state: running;
	-o-animation-fill-mode: forwards;
}
}
@keyframes bgcloud1x
{
	0%   {opacity: 0}
100% { opacity: 1; top: 46%;}
}
@-moz-keyframes bgcloud1x /* Firefox */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 46%;}
}
@-webkit-keyframes bgcloud1x /* Safari and Chrome */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 46%;}

}
@-o-keyframes bgcloud1x /* Opera */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 46%;}
}

#apDiv11X6 {
position: absolute;
left: 34%;
top: 46%;
width: 31.5%;
height: 46.5%;
z-index: 9;
background-image: url("../../images/pool.jpg");
background-size: cover;
opacity:0;
	animation-name: bgcloud3x;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
	animation-delay: 900ms;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
	/* Firefox: */
	-moz-animation-name: bgcloud3x;
	-moz-animation-duration: 500ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-delay: 900ms;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;
	/* Safari and Chrome: */
	-webkit-animation-name: bgcloud3x;
	-webkit-animation-duration: 500ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 900ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: nomral;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;
	/* Opera: */
	-o-animation-name: bgcloud3x;
	-o-animation-duration: 500ms;
	-o-animation-timing-function: ease-in-out;
	-o-animation-delay: 900ms;
	-o-animation-iteration-count: 1;
	-o-animation-direction: normal;
	-o-animation-play-state: running;
	-o-animation-fill-mode: forwards;
}
}
@keyframes bgcloud3x
{
	0%   {opacity: 0}
100% { opacity: 1; left: 38%;}
}
@-moz-keyframes bgcloud3x /* Firefox */
{
	0%   {opacity: 0}
100% { opacity: 1; left: 38%;}
}
@-webkit-keyframes bgcloud3x /* Safari and Chrome */
{
	0%   {opacity: 0}
100% { opacity: 1; left: 38%;}
}
@-o-keyframes bgcloud3x /* Opera */
{
	0%   {opacity: 0}
100% { opacity: 1; left: 38%;}
}

#apDiv12X6 {
position: absolute;
left: 38%;
top: -4%;
width: 31.5%;
height: 45.5%;
z-index: 9;
background-image: url("../../images/TrumpPark6.jpg");
background-size: cover;
opacity:0;
	animation-name: bgcloud289x;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
	animation-delay: 800ms;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
	/* Firefox: */
	-moz-animation-name: bgcloud289x;
	-moz-animation-duration: 500ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-delay: 800ms;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;
	/* Safari and Chrome: */
	-webkit-animation-name: bgcloud289x;
	-webkit-animation-duration: 500ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 800ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: nomral;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;
	/* Opera: */
	-o-animation-name: bgcloud289x;
	-o-animation-duration: 500ms;
	-o-animation-timing-function: ease-in-out;
	-o-animation-delay: 800ms;
	-o-animation-iteration-count: 1;
	-o-animation-direction: normal;
	-o-animation-play-state: running;
	-o-animation-fill-mode: forwards;
}
}
@keyframes bgcloud289x
{
	0%   {opacity: 0}
100% { opacity: 1; top: 0%;}
}
@-moz-keyframes bgcloud289x /* Firefox */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 0%;}
}
@-webkit-keyframes bgcloud289x /* Safari and Chrome */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 0%;}

}
@-o-keyframes bgcloud289x /* Opera */
{
	0%   {opacity: 0}
100% { opacity: 1; top: 0%;}
}